<ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
       <button class="button ion-close button-clear button-dark" ng-click="closeModal()"> Cancelar</button>
    </ion-header-bar>
    <ion-content style="background: white !important;">
      <form name="myForm" novalidate>
        <div class="list text-center">
          <label class="item item-input">
            <input type="text" placeholder="Título" ng-model="event.title" required>
          </label>

          <label class="item item-input">
            <input type="text" placeholder="Onde?" ng-model="event.where" required>
          </label>

          <label class="item item-input">
            <input type="text" placeholder="Quando?" class="textbox-n" onfocus="(this.type='date')" id="date" ng-model="event.when" required> 
          </label>

          <label class="item item-input">
            <textarea placeholder="Descrição" rows="5" cols="10" ng-model="event.description" required></textarea>
          </label>
          <img  class="modalImg" ng-if="event.image" ng-src="{{event.image}}" required>
        </div>      
    </ion-content>

    <div class="bar bar-footer bar-light">
      <button class="button button-clear icon-left ion-image" ng-click="choosePhoto('events')"></button>
      <button class="button button-outline button-positive" ng-disabled="myForm.$invalid" ng-click="newEvent('events')">Criar Evento</button>
    </div>
    </form>
 </ion-modal-view>