<ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
      <!-- <h1 class="title">{{title}}</h1> -->
       <button class="button ion-arrow-left-c button-clear button-dark" ng-click="modal2.hide()"> Comments</button>
    </ion-header-bar>
    <ion-content style="background: white !important;">

    <div class="list">
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="img/ben.png">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>
    </div>

      <!-- <div class="list">
        <label class="item item-input">
          <textarea placeholder="Say Something..." ng-model="post.description" cols="1"></textarea>
        </label>
      </div> -->

    </ion-content>

      <div class="bar bar-footer bar-stable">
        <textarea placeholder="Say Something..." style="font-size: 15px; margin-top:0px !important;" ng-model="post.description" rows="1"></textarea>
        <button class="button button-clear icon-left ion-android-send" ng-click=""></button>
      </div>

 </ion-modal-view>