<ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
      <!-- <h1 class="title">{{title}}</h1> -->
       <button class="button ion-arrow-left-c button-clear button-dark" ng-click="closeModal('settings')"> Back</button>
       <button class="button button-outline button-positive">Save</button>
    </ion-header-bar>
    
    <ion-content style="background: white !important;">
   <!--  <img ng-show="imgURI !== undefined" ng-src="{{imgURI}}" style="text-align: center"> -->

    <div class="list">

    <div class="item item-divider" style="text-align: center; background-color: #e8e8e8">
      My Profile
    </div>

    <label class="item item-input">
      <input type="text" placeholder="Name" style="font-size: 15px !important;">
    </label>

    <label class="item item-input">
        <input type="text" placeholder="E-mail" style="font-size: 15px !important;">
    </label>

    <label class="item item-input">
      <textarea placeholder="Description" rows="5" style="font-size: 15px !important;"></textarea>
    </label>

    <div class="item item-divider" style="text-align: center; background-color: #e8e8e8;">
      Profile Image
    </div>

    <a class="item item-icon-left" ng-click="choosePhoto('userProfilePhoto')">
      <i class="icon ion-image" ></i>
      Choose Photo
    </a>

    <a class="item item-icon-left" ng-click="takePhoto('userProfilePhoto')">
      <i class="icon ion-camera" ></i>
      Take Photo
    </a>
    <a class="item" href="#">
      Terms of Use
    </a>
    
    <a class="item" ng-click="logout()">
      Exit
    </a>

    </div>

    </ion-content>

 </ion-modal-view>