<ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
       <button class="button ion-close button-clear button-dark" ng-click="closeModal()"> Cancelar</button>
    </ion-header-bar>
    <ion-content style="background: white !important;">
      <form name="myForm" novalidate>
        <div class="list text-center">
          <label class="item item-input">
            <input type="text" placeholder="Título" ng-model="recipe.title" required>
          </label>

          <label class="item item-input">
            <textarea placeholder="Ingredientes" rows="5" cols="10" ng-model="recipe.ingredients" required></textarea>
          </label>

          <label class="item item-input">
            <textarea placeholder="Passo-a-Passo" rows="5" cols="10" ng-model="recipe.directions" required></textarea>
          </label>
          <img  class="modalImg" ng-if="recipe.image" ng-src="{{recipe.image}}" required>
        </div> 

    </ion-content>

    <div class="bar bar-footer bar-light">
      <button class="button button-clear icon-left ion-image" ng-click="choosePhoto('recipes')"></button>
      <button class="button button-clear icon-left ion-camera" ng-click="takePhoto('recipes')"></button>
      <button class="button button-outline button-positive" ng-disabled="myForm.$invalid" ng-click="newRecipe()">Criar Receita</button>
    </div>
    
    </form>
 </ion-modal-view>