<ion-view view-title="Registrar">
  <ion-content>
    <form name="myForm" novalidate>
      <div class="list list-inset">
      	<img src="img/ionic.png" style="height: 80px;  display: block; margin: 10px auto 10px;">

        <label class="item item-input">
          <input type="text" placeholder="Nome" name="username" ng-model="user.name" required style="font-size: 15px !important;">
        </label>
        <p class="padding valida" ng-show="myForm.username.$error.required">* Insira o nome</p>

        <label class="item item-input">
          <input type="email" placeholder="E-mail" name="email" ng-model="user.email" required style="font-size: 15px !important;">
        </label>
        <p class="padding valida" ng-show="myForm.email.$error.required">* Insira o e-mail</p>

        <label class="item item-input">
          <input type="password" placeholder="Senha" name="password" ng-model="user.password" ng-minlength="6" required style="font-size: 15px !important;">
        </label>
        <p class="padding valida" ng-show="myForm.password.$error.required">* Insira a senha</p>
        <p class="padding valida" ng-show="myForm.password.$error.minlength">* A senha deve possuir mais de 5 caracteres</p>

        <label class="item item-input">
          <input placeholder="Data de Nascimento" class="textbox-n" ng-model="user.birth" required type="text" onfocus="(this.type='date')" id="date" style="font-size: 15px !important;"> 
          <!-- <input type="date"> -->
        </label>

        <button class="button button-block button-balanced" ng-disabled="myForm.$invalid" ng-click="SignUp()">Criar Conta</button>
        
      </div>   
    </form>   

    </ion-content>
 </ion-view>