<ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
      <button class="button ion-arrow-left-c button-clear button-dark" ng-click="closeModal(true)"> Back</button>
      <h1 class="title">{{selectedRecipe.title}}</h1>
      
    </ion-header-bar>

    <ion-content style="background: white !important;">

      <div class="item-text-wrap">
        <div class="item item-image">
          <h1 class="spacing-top">{{selectedRecipe.title}}</h1> 
          <img class="full-image" ng-src="{{selectedRecipe.image ? selectedRecipe.image : 'http://www.seriouseats.com/images/2015/02/20150228-vegan-loaded-queso-dip7.jpg'}}">
          <h2 class="spacing-top item-divider">Ingredients</h2>
          <p>{{selectedRecipe.ingredients}}</p> 
          <h2 class="spacing-top item-divider">Directions</h2>
          <p>{{selectedRecipe.directions}}</p>
          <p class="spacing-bottom">
            <button class="subdued button icon-left ion-thumbsup button-clear button-dark" ng-click=""> 1 Like</button>
            <button class="subdued button icon-left ion-chatbox button-clear button-dark" ng-click="openComments()"> 5 Comments</button>
          </p>
        </div>
      </div>

    </ion-content>

    <div class="bar bar-footer bar-stable">
      <textarea placeholder="Say Something..." style="font-size: 15px; margin-top:0px !important;" ng-model="post.description" rows="1"></textarea>
      <button class="button button-clear icon-left ion-android-send" ng-click=""></button>
    </div>

 </ion-modal-view>