<ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
      <button class="button ion-arrow-left-c button-clear button-dark" ng-click="closeModal(true)"> Voltar</button>
      
    </ion-header-bar>

    <ion-content style="background: white !important;">

      <div class="item-text-wrap">
        <div class="item item-image">
          <img class="full-image" ng-src="{{selectedEvent.image ? selectedEvent.image : 'https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/21687443_485128058528596_1462436235687010864_n.jpg?oh=3f93249bacf629b85f8847f780ba09e5&oe=5A88868A'}}">
          <h1 class="spacing-top item-divider" style="font-size: 20px;">{{selectedEvent.title}}</h1> 
          <p style="text-align: left;">Data: {{selectedEvent.when  | date : 'd/MM/yy'}}</p> 
          <p class="spacing-top item-divider" style="text-align: left;">Local: {{selectedEvent.where}}</p>
          <hr> 
          <p style="text-align: left;">{{selectedEvent.description}}</p>
        </div>
      </div>

    </ion-content>

    <!-- <div class="bar bar-footer bar-stable">
      <button class="button button-block button-balanced" ng-click="">Confirm Presence</button>
    </div> -->

    <div class="bar bar-footer bar-light" style="background-color: transparent !important; border-top-width: 0px !important; padding: 0px !important;">
     <!--  <button class="button button-full button-balanced" ng-click="createContact(newUser)" style="width: 50%; background-color: #346c7f !important">Forgot My Password</button> -->
      <button class="button button-block button-balanced" ng-click="confirmPresence()" style="font-weight: 500; font-size: 13px; width: 60%; margin: auto; background-color: #80bddb !important">Confirmar Presença</button>
    </div>

 </ion-modal-view>