<ion-view>
   <ion-nav-title >
      <!-- <img src="img/logo.png" width="55" height="35" style="margin: 0 70% 0 8px;"/> -->
      Profile
      <button class="button button-clear ion-gear-a" style="margin-top: 1.6%; margin-left: 70%;" ng-click="openModal()"></button>
   </ion-nav-title>
  <ion-content>
    <!--<p ng-repeat='nome in test'>
      {{nome.nome}}
    </p>-->
      <!--<ion-list>
        <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
          <img ng-src="{{chat.face}}">
          <h2>{{chat.name}}</h2>
          <p>{{chat.lastText}}</p>
          <i class="icon ion-chevron-right icon-accessory"></i>

          <ion-option-button class="button-assertive" ng-click="remove(chat)">
            Delete
          </ion-option-button>
        </ion-item>
      </ion-list>-->

    <div class="list">
      <a class="item item-avatar" style="text-align: center; height: 180px !important;">
        <img src="img/adam.jpg" style="max-width: 70px !important; max-height: 70px !important;">
        <h2>Carlos Oliveira</h2>
        <h4>@carlosoliveira</h4>
        <p>Back off, man. I'm a scientist.</p>
        <hr>
        <p style="text-align: center;"><b>FOLLOWERS</b><br>
         0
        </p>
        <!-- <a href="#" class="item item-icon">
          <i class="icon ion-person-stalker"> 100 Friends</i>  
        </a> -->
      </a>

      <div class="tabs tabs-color-balanced">
        <a class="tab-item active">
          Timeline
        </a>
        <a class="tab-item">
          Recipes
        </a>
        <a class="tab-item">
          Medals
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>


<!-- <ion-modal-view class="scroll">
    <ion-header-bar class="bar-light">
       <button class="button ion-arrow-left-c button-clear button-dark" ng-click="modal.hide()"> Back</button>

       <button class="button button-clear ion-gear-a" style="margin-top: 1.6%; margin-left: 70%;" ng-click="openModal()"></button>
    </ion-header-bar>
    <ion-content>

     <div class="list">
      <a class="item item-avatar" style="text-align: center; height: 180px !important;">
        <img src="img/adam.jpg" style="max-width: 70px !important; max-height: 70px !important;">
        <h2>Carlos Oliveira</h2>
        <h4>@carlosoliveira</h4>
        <p>Back off, man. I'm a scientist.</p>
        <hr>
        <p style="text-align: center;"><b>FOLLOWERS</b><br>
         0
        </p>
      </a>

      <div class="tabs tabs-color-balanced">
        <a class="tab-item active">
          Timeline
        </a>
        <a class="tab-item">
          Recipes
        </a>
        <a class="tab-item">
          Medals
        </a>
      </div>
    </div>
    </ion-content>

 </ion-modal-view> -->