<ion-view>
   <ion-nav-title >
    Recipes
      <!-- <img src="img/logo.png" width="55" height="35" style="margin-top: 8px;"/> -->
   </ion-nav-title>
  <ion-content>

 <a href="#/tab/login" >
  <div class="list card">
    <div class="item item-image">
        <img src="http://www.seriouseats.com/images/2015/02/20150228-vegan-loaded-queso-dip7.jpg"/>
        <h2 class="spacing-top">Vegan Loaded Queso</h2>
        <p class="spacing-bottom">
          <a href="#" class="subdued button icon-left ion-thumbsup button-clear button-dark">1 Like</a>
          <a href="#" class="subdued button icon-left ion-chatbox button-clear button-dark">5 Comments</a>
        </p>
    </div>
  </div>
</a>

      
  </ion-content>

<ion-floating-button click="openModal()" has-footer="false" button-color="#027E83" icon="ion-plus-round" icon-color="#f8f8f8"> 
</ion-floating-button>

</ion-view>
