<ion-view>
   <ion-nav-title >
    Receitas
   </ion-nav-title>
  <ion-content>
     <ion-refresher on-refresh="doRefresh()">
                     
    </ion-refresher>
  <div class="list card text-center" ng-if="!followingRecipes.length">
    <h4>Não há receitas para exibir</h4>
  </div>
<!--   <a href="templates/single-recipe.html"> -->
  <div class="list card" ng-repeat="recipe in followingRecipes | orderBy: 'recipeDate'" >
    <div class="item item-image">
      <img class="full-image" ng-src="{{recipe.image ? recipe.image : 'http://www.seriouseats.com/images/2015/02/20150228-vegan-loaded-queso-dip7.jpg'}}" ng-click="openRecipe(recipe)">
      <h2 class="spacing-top">{{recipe.title || ''}}</h2> 
      <p class="spacing-bottom">
        <button class="subdued button icon-left ion-thumbsup button-clear button-dark" ng-click=""> {{recipe.likes || '0'}} Like</button>
        <button class="subdued button icon-left ion-chatbox button-clear button-dark" ng-click="openComments()"> {{recipe.comments || '0'}} Comentários</button>
      </p>
    </div>
  </div>
      
  </ion-content>

</ion-view>
