<ion-view>
   <ion-nav-title>
    Linha do Tempo
   </ion-nav-title>

  <ion-content>
   <ion-refresher on-refresh="doRefresh()">
                     
    </ion-refresher>
  <div class="list card text-center" ng-if="!followingPosts.length">
    <h4>Não há posts para exibir</h4>
  </div>
  <div class="list card" ng-repeat="post in followingPosts | orderBy: 'postDate'">
    <div class="item item-avatar">
      <img ng-src="{{post.profilePhoto ? post.profilePhoto : 'img/no-photo.png'}}" style="object-fit: cover; object-position: center;">
      <!-- <button class="button ion-android-more-vertical button-clear button-dark" style="margin: -9% 0 -20% 70%;" ng-click=""></button> -->
      <h2>{{post.name || 'Usuário sem Nome'}}</h2>
      <h4>{{post.postDate  | date : 'HH:mm • d/MM/yy'}}</h4>
      <!-- <p>{{post.postDate  | date : 'medium'}}</p> -->
    </div>
    <div class="item item-body">
      <!-- <img class="full-image" ng-src="{{post.image ? post.image : 'http://babakunyho.eu/img/default-no-image.png'}}"> -->
      <img ng-if="post.image" class="full-image" ng-src="{{post.image}}">
      <p style="text-align: left">
        {{post.description || ''}}
      </p>
      <p>
        <button class="subdued button icon-left ion-thumbsup button-clear button-dark" ng-click=""> {{post.likes || '0'}} Like</button>
        <button class="subdued button icon-left ion-chatbox button-clear button-dark" ng-click="openComments()"> {{post.comments || '0'}} Comentários</button>
      </p>
    </div>
  </div>

</ion-content>

</ion-view>
