<ion-view>
	<ion-nav-title >
		Eventos
   </ion-nav-title>

  <ion-header-bar class="bar bar-subheader item-input-inset">
          <label class="item-input-wrapper"> 
  			<i class="icon ion-ios-search placeholder-icon"></i> 
  			<input type="search" placeholder="Procurar Eventos"> 
  		</label> 
   </ion-header-bar>

  	<!--<ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  		<ion-list>
    		<ion-item *ngFor="let item of items">
     			{{ item }}
    	</ion-item>
  	</ion-list>--> 

  <ion-content class="card-background-page" has-header="true">
   <ion-refresher on-refresh="doRefresh()">
                     
    </ion-refresher>
 	

<!--eventos-->

 <div class="list card text-center" ng-if="!followingEvents.length">
    <h4>Não há eventos para exibir</h4>
  </div>
  <div class="list card" ng-repeat="event in followingEvents | orderBy: 'when'" ng-click="openEvent(event)">
    <div class="item item-image">
      <img class="full-image" ng-src="{{event.image ? event.image : 'https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/21687443_485128058528596_1462436235687010864_n.jpg?oh=3f93249bacf629b85f8847f780ba09e5&oe=5A88868A'}}">
      <h2 class="spacing-top"><b>{{event.title || ''}}</b></h2> 
      <p>{{event.where || ''}}</p> 
	  <!-- <p>{{event.when  | date : 'd/MM/yy'}}</p> -->
      <p>{{event.when}}</p>
      <p class="subdued spacing-bottom">{{event.confirmed || '0'}} Confirmados</p>
    </div>
  </div>

<!-- <a href="#">
	<div class="list card">
		<div class="item item-image">
		    <img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/21687443_485128058528596_1462436235687010864_n.jpg?oh=3f93249bacf629b85f8847f780ba09e5&oe=5A88868A"/>
		    <h2 class="spacing-top"><b>Be Vegan - Festival Vegano</b></h2>
		    <p>São José dos Campos - SP</p>
		    <p class="subdued">08/10/2017</p>
		    <p class="subdued spacing-bottom">41 Confirmed</p>
	  	</div>
	</div>
</a>

<a href="#">
	<div class="list card">
		<div class="item item-image">
		    <img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/20155950_265086970641357_1809491227151253805_n.jpg?oh=8ac4bfe989467ca3b834c9fda5f73081&oe=5A45D04E"/>
		    <h2 class="spacing-top"><b>Aloha Vegan Fest</b></h2>
		    <p>São José dos Campos - SP</p>
		    <p class="subdued">24/09/2017</p>
		    <p class="spacing-bottom">307 Confirmed</p>
	  	</div>
	</div>
</a>

<a href="#">
	<div class="list card">
		<div class="item item-image">
		    <img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/21192284_113789985985466_3110816316493981004_n.jpg?oh=01b494e2e01e093df4fe2ebf874df80d&oe=5A878348"/>
		    <h2 class="spacing-top"><b>Tarde da Pizza Vegetariana</b></h2>
		    <p>Jacareí - SP</p>
		    <p class="subdued">23/09/2017</p>
		    <p class="spacing-bottom">43 Confirmed</p>
	  	</div>
	</div>
</a>

<a href="#">
	<div class="list card">
		<div class="item item-image">
		    <img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/21105450_1937704446477224_3718174702071479888_n.jpg?oh=e93454d0d81ea164da0d6224249deb66&oe=5A55C92A"/>
		     <h2 class="spacing-top"><b>3º Encontro Vegano JMA</b></h2>
		    <p>Taubaté - SP</p>
		    <p class="subdued">07/10/2017</p>
		    <p class="spacing-bottom">121 Confirmed</p>
	  	</div>
	</div>
</a>

<a href="#">
	<div class="list card">
		<div class="item item-image">
		    <img src="https://scontent.fsjk2-1.fna.fbcdn.net/v/t1.0-9/21192359_1870209799908682_6456090223305100705_n.jpg?oh=603b1e0fcd6226a7924c83c5ca0690d1&oe=5A4F3BED"/>
		     <h2 class="spacing-top"><b>Festa Vegana da Primavera</b></h2>
		    <p>São Paulo</p>
		    <p class="subdued">01/10/2017</p>
		    <p class="spacing-bottom">140 Confirmed</p>
	  	</div>
	</div>
</a> -->

<!--fim eventos-->

  </ion-content>


</ion-view>