/*
.bar.bar-custom {
    border-color: #f40428;
    background-color: #f40428;
    background-image: linear-gradient(0deg, #f40428, #f40428 50%, transparent 50%);
    color: #fff; 
}*/

/*#floating-button {
    margin-bottom: 40px;
}*/
table {
  margin-left: 60px;
  font-size: 12px;
  border-collapse: collapse;
  width: 50%;
}
.btnCardRE{
  position: absolute;
  right: 1px;
  top: 1px;
  z-index: 999;
}
.btnCard {
  position: absolute;
  right: 2%;
  top: 12px;
  z-index: 999;
}

td, th {
  text-align: center;
  padding: 8px 8px 0 8px;
}

.postsButton li {
  background-color: #80bddb !important;
}
.recipesButton li {
  background-color: #80bddb !important;
}
.menuProfile >li{
  width: 33%;
  display: inline-block;
  text-align: center;
  height: 100%;
  vertical-align: middle;
}
.liIcons.active {
    color: #33cd5f;
    border: 0 solid #33cd5f;
}
.liIcons{
  font-size: 30px;
}
h2:link, p:link
{ 
 text-decoration:none; 
}

.scroll-content {
  /*#7BB156, #027E83*/
  /*Novas Cores: #40e47d, #8fd3f4*/
/*  background: #40e47d;*/
  background: -webkit-linear-gradient( rgba(64,228,125,0.6), rgba(143,211,244,0.6)) !important;
}

.btn {
	background-color: transparent;
	border: transparent;
}


.spacing-top {
  margin-top: 12px !important;
}

.spacing-bottom {
  margin-bottom: 12px !important;
}

.spacing-login { 
}

.item-avatar  {     
width:100% !important;  
height : 100% !important;  
max-width: 800px !important;
max-height: 800px !important;
}

//Mapa
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}
//Fim-Mapa

.platform-android .bar-subheader.has-tabs-top{
top:93px !important;
}

.platform-android .has-subheader.has-tabs-top{
top:137px;
}

textarea, input[type="text"], input[type="date"] {
max-width: 100%;
width: 100%;
/*height: 80vh;*/
font-size: 22px;
margin-top: 10px;
line-height: 25px;
}

.item-input {
  margin: 5px 30px 0 30px;
  background: transparent;
  border: 0px;
  border-bottom: 2px solid #80bddb;
}

/*.top-44  .tab-nav{
  height: 20px;
  top:20px !important;
 }

.tab-item-active{
  background:green;
}*/

.tab-item .icon {
  font-size: 25px !important;
}

/*.item-avatar > img:first-child{
  max-width: 70px !important;
  max-height: 70px !important;
}*/

hr {
    width: 75%;
}

.list-inset {
  background-color: transparent !important;
}
